body{font-family: 'Pacifico', cursive;
    font-family: 'Pushster', cursive;}
    h1{font-size: 60px;}
    .antu-name{color: rgb(230, 120, 17);}
    section{display: flex;}
    .first-page{width: 50%;
    padding: 5%;}
    .first-page img{width: 80%;}